/* 전체 레이아웃 설정 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 가로 스크롤 방지 */
}

/* 슬라이더 스타일 */
.slider {
    margin-top: 20px; /* 헤더와의 간격 */
    width: 80%;
    height: 150px;
    max-width: 80%;
    overflow: hidden; /* 슬라이더 영역 밖은 숨김 */
    position: relative;
    margin-left: auto; /* 슬라이더를 가운데 정렬하기 위한 설정 */
    margin-right: auto; /* 슬라이더를 가운데 정렬하기 위한 설정 */
    border: 2px solid #ccc; /* 윤곽선을 추가하여 슬라이더 영역을 구분 */
    border-radius: 8px; /* 모서리를 둥글게 */
}

/* 슬라이더 안의 슬라이드 묶음 */
.slides {
    display: flex;
    width: 300%; /* 슬라이드 수에 따라 변경 */
    /* transition: transform 0.5s ease-in-out; 슬라이드 전환에 부드러운 효과 추가 */
    animation: slide 12s infinite;
}

/* 각 슬라이드 */
.slide {
    width: 100%;
    height: 150px;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: 150px; /* 높이는 너무 크지 않게 조정 */
    object-fit: cover;
    border-bottom: 2px solid #ccc; /* 이미지 하단에 윤곽선 추가 */
}

/* 슬라이드 애니메이션 */
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-100%);
    }
    66% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

.content {
    margin-top: 70px; /* 헤더 높이만큼의 여백 */
    padding: 20px;
}


.content_second {
    padding: 20px;
    margin-top: 20px;
}

.content-subtitle {
    width: 80%; /* 슬라이더와 동일한 너비 */
    margin: 20px auto; /* 가운데 정렬 */
    text-align: center;
}

.content-subtitle h2 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}


/* 메인 페이지 CSS */

.main-content {
    width: 80%; /* 슬라이더와 동일한 너비 */
    margin: 0 auto; /* 가운데 정렬 */
    display: flex;
    justify-content: space-between; /* 이미지들 사이에 간격 설정 */
    padding: 20px 0;
}

/* 이미지 카드 설정 */
.image-card {
    flex-grow: 1; /* 각 이미지가 균등하게 확장 */
    text-align: center;
    margin: 0 5px; /* 각 이미지 사이에 10px 간격 (좌우 5px씩) */
}


/* 네모난 이미지 칸 */
.image-box {
    width: 100%; /* 가로 크기를 부모의 100%로 설정 */
    height: 200px;
    background-color: #f4f4f4;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #555;
    border-radius: 8px;
}

/* 텍스트 링크로 페이지 이동 */
.link-text {
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.link-text:hover {
    color: #0056b3;
}