<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사용자 목록</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>이메일</th>
            <th>비밀번호</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>생년월일</th>
            <th>닉네임</th>
            <th>거주지역</th>
            <th>성별</th>
            <th>취향</th>
            <th>커플아이디</th>
        </tr>
        <th:block th:each="member : ${list}">
            <tr th:object="${member}">
                <td th:text="*{email}"></td>
                <td th:text="*{password}"></td>
                <td th:text="*{name}"></td>
                <td th:text="*{tel}"></td>
                <td th:text="*{birthday}"></td>
                <td th:text="*{nicname}"></td>
                <td th:text="*{place}"></td>
                <td th:text="*{gender}"></td>
                <td th:text="*{taste}"></td>
                <td th:text="*{coupleId}"></td>
            </tr>
        </th:block>
    </table>
</body>
</html>