<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoseCose Login</title>
    <link rel="stylesheet" th:href="@{/mb_home_css/login.css}">
</head>
<body>
<div class="title">CoseCose</div>
<div class="button kakao-login">
    <a href="kakao/login">
        <img th:src="@{/images/kakao.png}" alt="카카오 로그인" width="300">
    </a>
</div>

<div class="button naver-login">
    <a href="naver/login">
        <img th:src="@{/images/naver.png}" alt="네이버 로그인" width="300">
    </a>
</div>

<div class="button google-login">
    <a href="google/login">
        <img th:src="@{/images/google.png}" alt="구글 로그인" width="300">
    </a>
</div>

<!-- Footer -->
<footer>
    <a href="/customer-support">고객센터</a> | <a href="/inquiry">문의하기</a>
</footer>
</body>
</html>
