<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<th:block th:fragment="footer">
    <link rel="stylesheet" th:href="@{/home_css/footer.css}" type="text/css">
    <body>
        <footer class="footer">
            <!-- 좌측 코스코스 문구 -->
            <div class="footer-left">
                <h3>COSECOSE</h3>
                <p>대표자: 홍길동</p>
            </div>
    
            <!-- 중앙 문의사항 및 연락처 -->
            <div class="footer-center">
                <h3>문의사항 및 연락처</h3>
                <p>전화: 010-1234-5678</p>
                <p>이메일: abc@defg.com</p>
            </div>

             <!-- 우측 코스코스 문구 -->
             <div class="footer-right">
                <h3>아이콘?</h3>
                <p>카카오톡 인스타</p>
            </div>
        </footer>
    </body>
</th:block>
</html>