<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <link rel="stylesheet" th:href="@{/home_css/header.css}" type="text/css">
    <body>
        <header>
            <!-- 좌측 로고 -->
            <div class="logo">COSECOSE</div>
    
            <!-- 중앙 카테고리 목록 -->
        <nav class="nav-categories">
            <ul>
                <li>
                    <a href="#">커뮤니티</a>
                    <!-- 서브 메뉴 -->
                    <ul>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">글 리스트</a></li>
                        <li><a href="#">글 쓰기</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">커플 콘텐츠</a>
                    <!-- 서브 메뉴 -->
                    <ul>
                        <li><a href="#">서브 메뉴 2-1</a></li>
                        <li><a href="#">서브 메뉴 2-2</a></li>
                        <li><a href="#">서브 메뉴 2-3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">데이트 장소</a>
                    <!-- 서브 메뉴 -->
                    <ul>
                        <li><a href="#">서브 메뉴 2-1</a></li>
                        <li><a href="#">서브 메뉴 2-2</a></li>
                        <li><a href="#">서브 메뉴 2-3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">코스</a>
                    <!-- 서브 메뉴 -->
                    <ul>
                        <li><a href="#">서브 메뉴 3-1</a></li>
                        <li><a href="#">서브 메뉴 3-2</a></li>
                        <li><a href="#">서브 메뉴 3-3</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    
            <!-- 우측 회원가입 및 로그인 -->
            <div class="auth-links">
                <a href="#">회원가입</a>
                <a href="login_form">로그인</a>
            </div>
        </header> 
        
    </body>
</th:block>
</html>