<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoseCose</title>
</head>
<body>
    <th:block th:replace="~{home/header :: header}"></th:block>  <!-- header 파일 불러오기-->
    <th:block th:replace="~{home/main :: main}"></th:block>     <!--main 파일 불러오기-->
    <th:block th:replace="~{home/footer :: footer}"></th:block> <!-- footer 파일 불러오기-->
</body>
</html>