<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" th:href="@{/home_css/login_form.css}">
</head>
<body>

<div class="login-form">
    <h2>로그인</h2>
    <form id="loginForm">
        <div class="form-group">
            <input type="text" id="username" name="username" placeholder="아이디" required>
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password" placeholder="비밀번호" required>
        </div>
        <div class="form-group">
            <button type="submit">로그인</button>
        </div>
        <div class="additional-options">
            <a href="#">아이디 찾기</a> | 
            <a href="#">비밀번호 찾기</a> | 
            <a href="#">회원가입</a>
        </div>
        <div class = "tpa"><button type="button" class="btNaver" data-a2s="click" data-object="P_LOGIN" data-option="{&quot;Name&quot;:&quot;NexonID_Login&quot;,&quot;Type&quot;:&quot;TPA_Naver&quot;}">
            <span class="tpaLoginInnerWrap">
                <span class="icon"></span>
                <span class="tpaLoginTxt">Naver 계정으로 로그인</span>
            </span>
        </button></div>
    </form>
</div>

<script>
    document.getElementById("loginForm").addEventListener("submit", function(event) {
        event.preventDefault();
        
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        
        if (username === "admin" && password === "1234") {
            alert("로그인 성공!");
        } else {
            alert("아이디 또는 비밀번호가 틀렸습니다.");
        }
    });
</script>

</body>
</html>
